*,
*:after,
*:before {
	box-sizing: border-box;
}
:root {
	--transition: 0.25s;
	--spark: 1.8s;
}

body {
	--active: 0;
	background: hsl(
		260
		calc(var(--active) * 97%)
		6%
	);
	display: grid;
	font-family: system-ui, sans-serif;
	
}

.h1{
	color:white;
}

.fig {
	background-image: url(img.png);
	font-size: 0.9rem;
	background-repeat: no-repeat;
	text-align: center;
	display: flex;
	justify-content: center;
    align-items: center;
	width: 400px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	color: white;	
	transform: translate(-50%, -50%);
}

.text {
	color: white;
	padding-bottom: 30%;

}
button {
	/* position: absolute;
	display: flex;
    align-items: center;
	left: 43%;*/
	/* top: 80%;  */
	/* justify-content: center !important; */
	background-repeat: no-repeat;
	/* display: flex; */
	/* margin: 0 auto; */
	/* display: block; */
	/* text-align: center; */
    margin: 0;
    position: absolute;
    left: 50%;
	top: 80%;
    margin-right: -50%;
    transform: translate(-50%);
	color: white;
	--bg:
		radial-gradient(
			40% 50% at center 100%,
			hsl(270 calc(var(--active) * 97%) 72% / var(--active)),
			transparent
		),
		radial-gradient(
			80% 100% at center 120%,
			hsl(260 calc(var(--active) * 97%) 70% / var(--active)),
			transparent
		),
		hsl(260 calc(var(--active) * 97%) calc((var(--active) * 44%) + 12%));
	background: var(--bg);
	font-size: 1.5rem;
	border: 0;
	padding: 0.9em 1.3em;
	white-space: nowrap;
	border-radius: 100px;
	box-shadow:
		0 0 calc(var(--active) * 6em) calc(var(--active) * 3em) hsl(260 97% 61% / 0.75),
		0 0.05em 0 0 hsl(260 calc(var(--active) * 97%) calc((var(--active) * 50%) + 30%)) inset,
		0 -0.05em 0 0 hsl(260 calc(var(--active) * 97%) calc(var(--active) * 60%)) inset;
	transition: box-shadow var(--transition), scale var(--transition), background var(--transition);
}
button:is(:hover, :focus-visible) {
	--active: 1;
	--play-state: running;
}



